/* HTML5 HACK -------------------------------------- */  
header, section, footer, aside, nav, article {  
	display: block;  
}
 
/* LAYOUT ------------------------------------------ */
 
body {
  background: #fff;
  font-size: 12px;
  color: #333333;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;f
  padding: 0;
}
 
#doc  {
  width: 980px;
  margin: 0 auto;
}
 
/* HEADER & NAVIGATION ------------------------------ */
 
#header {
  background: #336699;
  padding: 0 15px;
  width:952px;
  font-size: 15px;
}
 
#header h1 {
  margin: 0;
  padding: 15px 0;
  color: #FFFFFF;
}
 
#header nav ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
 
#header nav ul li {
  display: inline;
  margin: 0;
  padding: 0;
}
 
#header nav ul li a {
  display: inline-block;
  padding: 2px 10px;
  color: #333333;
  background-color: #F6E4CC;
  text-decoration: none;
}
 
#header nav ul li.active a,
#header nav ul li a:hover {
  background-color: #fff;
  color: #444;
}
 
/* CONTENT ------------------------------------------ */
 
#content {
  background-color:#C7E1BA;
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid #CCCCCC;
  height:315px;
  margin:1px 0;
  padding: 0 15px;
  width:950px;
} 
/* CONTENT ------------------------------------------ */
 
#content_index {
  background-color:#C7E1BA;
  background-position:initial initial;
  background-repeat:initial initial;
  border:1px solid #CCCCCC;
  height:515px;
  margin:1px 0;
  padding: 0 15px;
  width:950px;
} 

/* SIDEBAR ------------------------------------------ */
 
aside {
  background: #F6E4CC;
  width:950px;
  padding: 0 15px;
  margin:1px 0;
  float: left;
  border: 1px solid #cccccc;
  height: 200px;
  
}
 
/* FOOTER ------------------------------------------ */
 
footer {
  clear: both;
  background: #DDD;
  text-align: right;
  padding: 10px 15px;
  margin:1px 0;
  width:950px;
  border: 1px solid #cccccc;
}
 
footer a {
  color: #999;
}

/* saveform ------------------------------------------ */
#saveform {
 

    padding: 20px;
    background: #F4F0EC;
    overflow:auto;
	padding-top: 20px;
    border: 1px solid #cccccc;
}
#safe_form_left {
float:left;
width:50%;
}
#safe_form_right {
float:right;
width:50%;
}
#input_long{
  float:right;
}

/* restoreForm ------------------------------------------ */
#restoreForm {
 

    padding: 20px;
    background: #F4F0EC;
    overflow:auto;
	padding-top: 20px;
    border: 1px solid #cccccc;
 }
/* labelForm ------------------------------------------ */
label {
    font-family: Arial, Verdana;
    text-shadow: 2px 2px 2px #ccc;
    display: block;
    float: left;
    font-weight: bold;
    margin-right:10px;
    text-align: right;
    width: 120px;
    line-height: 25px;
    font-size: 15px;
    }
.input{
    font-family: Arial, Verdana;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #b9bdc1;
    width: 200px;
    color: #797979;
	margin-top: 5px;
    }

.styled-select select {
   background: transparent;
   width: 200px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   margin-top: 5px;
}

/* Button Form ------------------------------------------ */
.button
{        
	display: inline-block;
	white-space: nowrap;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background-image: -webkit-linear-gradient(top, #eee, #ccc);
	background-image: -moz-linear-gradient(top, #eee, #ccc);
	background-image: -ms-linear-gradient(top, #eee, #ccc);
	background-image: -o-linear-gradient(top, #eee, #ccc);
	background-image: linear-gradient(top, #eee, #ccc);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em Arial, Helvetica;
	text-decoration: none;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	-moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}

.button:hover
{
	background-color: #ddd;        
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
	background-image: -moz-linear-gradient(top, #fafafa, #ddd);
	background-image: -ms-linear-gradient(top, #fafafa, #ddd);
	background-image: -o-linear-gradient(top, #fafafa, #ddd);
	background-image: linear-gradient(top, #fafafa, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');        
}

.button:active
{
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}

.button:focus
{
	outline: 0;
	background: #fafafa;
}    

.button:before
{
	background: #ccc;
	background: rgba(0,0,0,.1);
	float: left;        
	width: 1em;
	text-align: center;
	font-size: 1.5em;
	margin: 0 1em 0 -1em;
	padding: 0 .2em;
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
	-moz-border-radius: .15em 0 0 .15em;
	-webkit-border-radius: .15em 0 0 .15em;
	border-radius: .15em 0 0 .15em;
        pointer-events: none;        
}

/* Tabellen Form ------------------------------------------ */
table.table1{
    
    font-size: 9px;
    font-weight: bold;
    line-height: 1.2em;
    font-style: normal;
    border-collapse:separate;
    
}
.table1 thead th{
    padding:5px;
    color:#fff;
    /*text-shadow:1px 1px 1px #568F23;*/
    border:1px solid #669966;
    border-bottom:3px solid #669966;
    background-color:#669966;
    
           
}

.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    overflow: scroll;
}

tr:hover { 
    background-color: #FFFFAF0 !important;
    color: #000 !important; 
} 

#activitybox{

    /*white-space:pre-line;*/
    overflow:auto;
	height:133px;
	border:1px solid #CCCCCC;
}






/*tooltip*/
    .ui-tooltip, .arrow:after {
        background: #cccccc;
        border: 2px solid white;
    }
    .ui-tooltip {
        padding: 10px 20px;
        color: white;
        border-radius: 0px;
        font: bold 14px "Helvetica Neue", Sans-Serif;
        text-transform: uppercase;
        box-shadow: 0 0 7px black;
    }
    .arrow {
        width: 50px;
        height: 20px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -35px;
        bottom: -20px;
    }
    .arrow.top {
        top: -20px;
        bottom: auto;
    }
    .arrow.left {
        left: 20%;
    }
    .arrow:after {
        content: "";
        position: absolute;
        left: 20px;
        top: -20px;
        width: 25px;
        height: 25px;
        box-shadow: 6px 5px 9px -9px black;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        tranform: rotate(45deg);
    }
    .arrow.top:after {
        bottom: -20px;
        top: auto;
    }

#txtHint{

 
    overflow:auto;
	height:120px;
	
    width: 530px;
float:right;
}




#languages#languages {
  float:right;
}